
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');



body{
  background-color: #fff8f2;
}
.title{
  margin-top: 40px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  color: #3d3e3e;
  font-size: 36px;
  font-weight: 700;

}

.slogan{
  margin-top: 50px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  color: #676767
}

.foot{
  background-color: #676767;
  display: flex;
  margin-top: 100px;
  height: 124px;
  bottom:0;
  text-align: right;
}

.copyright{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-left: 95%;
}

.section{
  margin-top: 36px;
  display:flex;
  justify-content: center;
}

img{
  display: flex;
  width: 170px;
  height: 131px;
  border: 10px solid black;
}

.img1{
  margin-right: 45px;

}

.img2{
  margin-left: 45px;
}

.click1{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  color: #676767;
  cursor: pointer;;

}

.click2{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  color: #676767;
  cursor: pointer;
}

.overlay{
  position: fixed;
  display:none;
  height: 141px;
  width: 328px;
  background-color: #fff8f2;
  border-style: solid;
  border-color: #676767;
  border-width: 3px;
  margin-left: 300px;
}

.Text{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 3px;
  margin-top: 3px;
  justify-content: center;
  color: #676767;
}

.close{
  position: relative;
  height: 15px;
  width: 15px;
  background-color: red;
  text-align: center;
  margin-left: 92%;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;


}
